#pageTitle {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
}

#pageTitle a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#filteringMenu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#filteringMenu .row {
    width: 50%;
}

#filteringMenu .justButton button {
    width: 100%;
}

#filteringMenu .justButton .col {
    padding: 2px;
}