<div id="pageTitle" class="p-2">
    <a (click)="openPage('list-activitas')">
      <h5 class="m-0 p-0" style="font-weight: bold;">Aktivitas</h5>
    </a>
    <h5 class="m-0 p-0">
      &nbsp;/&nbsp;
    </h5>
    <a (click)="openPage('list-activitas')">
      <h5 class="m-0 p-0" style="font-weight: bold;">List Aktivitas</h5>
    </a>
    <h5 class="m-0 p-0">
      &nbsp;/&nbsp;
    </h5>
    <a>
      <h5 class="m-0 p-0" style="font-weight: bold;">Form Aktivitas</h5>
    </a>
</div>
<div class="p-2 container" class="boxContentChild">
  <div class="form">
      <div class="formHeader" >
          <h5 class="m-0 p-0" style="font-weight: bold;">
              Master Data Aktivitas
          </h5>
      </div>
      <div class="boxInput" >
          <form [formGroup]="reactiveForm">
              <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                  <div class="label row align-items-center">
                      <label for="inputIdAktivitas" class="form-label col-10 p-0 m-0">
                          <h5 class="m-0 p-0">
                              Aktivitas
                          </h5>
                      </label>
                      <div class="titikDua col-2">
                          <h5 class="m-0 p-0">
                              :
                          </h5>
                      </div>
                  </div>
                  <div class="inputCol">
                      <input formControlName="idActivitas" type="text" class="form-control" name="inputIdAktivitas" id="inputIdAktivitas">
                      <div *ngIf="!validFormStatus[0].status" id="emailHelp" class="text-danger form-text">
                          <h5>
                              Kolom ini wajib diisi!!
                          </h5>
                      </div>
                      <div *ngIf="action.name === 'add'">
                          <div *ngIf="idActivitasAlreadyExist" id="emailHelp" class="text-danger form-text">
                              <h5>
                                  Id Aktivitas {{ this.reactiveForm.get("idActivitas")?.value }} telah digunakan. Silahkan ganti Id Aktivitas!!
                              </h5>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                  <div class="label row align-items-center">
                      <label for="inputAktivitas" class="form-label col-10 p-0 m-0">
                          <h5 class="m-0 p-0">
                              Aktivitas
                          </h5>
                      </label>
                      <div class="titikDua col-2">
                          <h5 class="m-0 p-0">
                              :
                          </h5>
                      </div>
                  </div>
                  <div class="inputCol">
                      <input formControlName="activitas" type="text" class="form-control" name="inputAktivitas" id="inputAktivitas">
                      <div *ngIf="!validFormStatus[1].status" id="emailHelp" class="text-danger form-text">
                          <h5>
                              Kolom ini wajib diisi!!
                          </h5>
                  </div>
                  </div>
              </div>
              <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                  <div class="label row align-items-center">
                      <label for="inputIdProses" class="form-label col-10 p-0 m-0">
                          <h5 class="m-0 p-0">
                              ID Proses
                          </h5>
                      </label>
                      <div class="titikDua col-2">
                          <h5 class="m-0 p-0">
                              :
                          </h5>
                      </div>
                  </div>
                  <div class="inputCol">
                      <select formControlName="idProses" id="inputIdProses" name="inputIdProses" class="form-select">
                          <option value="1">
                              <h5>
                                  One
                              </h5>
                          </option>
                          <option value="2">
                              <h5>
                                  Two
                              </h5>
                          </option>
                          <option value="3">
                              <h5>
                                  Three
                              </h5>
                          </option>
                      </select>
                  </div>
              </div>
              <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                  <div class="label row align-items-center">
                      <label for="inputStatus" class="form-label col-10 p-0 m-0">
                          <h5 class="m-0 p-0">
                              Status
                          </h5>
                      </label>
                      <div class="titikDua col-2">
                          <h5 class="m-0 p-0">
                              :
                          </h5>
                      </div>
                  </div>
                  <div class="inputCol">
                      <select formControlName="status" id="inputStatus" name="inputStatus" class="form-select">
                          <option value="Yes">
                              <h5>
                                  Yes
                              </h5>
                          </option>
                          <option value="No">
                              <h5>
                                  No
                              </h5>
                          </option>
                      </select>
                  </div>
              </div>
              <br>
              <div class="d-flex justify-content-between">
                  <button (click)="openPage('list-activitas')" type="button" class="btn btn-pill btn-secondary float-left rounded-4"><i class="fa fa-backward"> </i>
                      <h5 class="m-0 p-0" style="font-weight: bold;">Back</h5>
                  </button>
                  <div class="d-flex">
                    <div *ngIf="action.name=='edit'" class="me-2">
                        <button *ngIf="formIsEdited; else cancelEdit" type="button" class="btn btn-pill btn-primary float-right rounded-4" style="color: black;" ><i class="fa fa-save"> </i><strong>
                            <h5 class="m-0 p-0" style="font-weight: bold; width: max-content;" (click)="setFormStatus()">Disable Form</h5>
                        </strong></button>
                        <ng-template #cancelEdit>
                            <button type="button" class="btn btn-pill btn-primary float-right rounded-4" style="color: black;" ><i class="fa fa-save"> </i><strong>
                                <h5 class="m-0 p-0" style="font-weight: bold; width: max-content;" (click)="setFormStatus()">Enable Form</h5>
                            </strong></button>
                        </ng-template>
                    </div>
                    <button [disabled]="btnSaveDisable" type="button" class="btn btn-pill btn-success float-right rounded-4" style="color: black;" ><i class="fa fa-save"> </i><strong>
                          <h5 class="m-0 p-0" style="font-weight: bold;" (click)="saveData()">Save</h5>
                    </strong></button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>