/* CONTENT */

#boxInput, #formHeader {
    border: solid 1px;
    border-color: rgb(227, 227, 227);
}


.row {
    --bs-gutter-x : 0 rem;
}

#form #formHeader {
    padding: 10px;
    display: flex;
    background-color: #EFF3F6;
    border-radius: 4px 4px 0 0;
}

#form form {
    margin: 20px;
    
}

#form #boxInput {
    background-color: white;
    border-radius: 0 0 4px 4px;
}

form .boxInputCol {
    margin: 10px 0;
}

form .label {
    width: 40%;
}

form .inputCol {
    width: 60%;
}


@media screen and (max-width: 700px) {
    form .titikDua {
        display: none;
    }

    form .inputCol {
        margin: 10px 0 10px 10px;
        width: 100%;
    }
}