<div id="pageTitle" class="p-2">
      <a (click)="openPage('mesin')">
        <h6 class="m-0 p-0" style="font-weight: bold;">Mesin</h6>
      </a>
      <h6>
        &nbsp;/&nbsp;
      </h6>
      <a (click)="openPage('list-mesin')">
        <h6 class="m-0 p-0" style="font-weight: bold;">List Mesin</h6>
      </a>
      <h6>
        &nbsp;/&nbsp;
      </h6>
      <a>
        <h6 class="m-0 p-0" style="font-weight: bold;">Add Mesin</h6>
      </a>
</div>
<div class="p-2 container" class="boxContentChild">
    <div id="form">
        <div id="formHeader" >
            <h6 class="m-0 p-0">
                Master Data Code WIP
            </h6>
        </div>
        <div id="boxInput" >
            <form [formGroup]="reactiveForm">
                <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                    <div class="label row align-items-center">
                        <label for="inputKodeWIP" class="form-label col-10 p-0 m-0">
                            <p class="m-0 p-0">
                                Kode WIP
                            </p>
                        </label>
                        <div class="titikDua col-2">
                            <p class="m-0 p-0">
                                :
                            </p>
                        </div>
                    </div>
                    <div class="inputCol">
                        <input formControlName="kodeWIP" type="text" class="form-control" name="inputKodeWIP" id="inputKodeWIP">
                        <div *ngIf="!validFormStatus[0].status" id="emailHelp" class="text-danger form-text">Kolom ini wajib diisi!!</div>
                        <div *ngIf="kodeWipAlreadyExist" id="emailHelp" class="text-danger form-text">Kode WIP {{ this.reactiveForm.get("kodeWIP")?.value }} telah digunakan. Silahkan ganti Kode WIP!!</div>
                    </div>
                </div>
                <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                    <div class="label row align-items-center">
                        <label for="inputDesc" class="form-label col-10 p-0 m-0">
                            <p class="m-0 p-0">
                                Deskripsi
                            </p>
                        </label>
                        <div class="titikDua col-2">
                            <p class="m-0 p-0">
                                :
                            </p>
                        </div>
                    </div>
                    <div class="inputCol">
                        <textarea formControlName="deskripsi" name="inputDesc" class="form-control" name="inputDesc" id="inputDesc" cols="30" style="width: 100%;"></textarea>
                        <div *ngIf="!validFormStatus[1].status" id="emailHelp" class="text-danger form-text">Kolom ini wajib diisi!!</div>
                    </div>
                </div>
                <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                    <div class="label row align-items-center">
                        <label for="inputUomWip" class="form-label col-10 p-0 m-0">
                            <p class="m-0 p-0">
                                UOM WIP
                            </p>
                        </label>
                        <div class="titikDua col-2">
                            <p class="m-0 p-0">
                                :
                            </p>
                        </div>
                    </div>
                    <div class="inputCol">
                        <input formControlName="uomWIP" type="text" class="form-control" name="inputUomWip" id="inputUomWip">
                        <div *ngIf="!validFormStatus[2].status" id="emailHelp" class="text-danger form-text">Kolom ini wajib diisi!!</div>
                    </div>
                </div>
                <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                    <div class="label row align-items-center">
                        <label for="inputIdProses" class="form-label col-10 p-0 m-0">
                            <p class="m-0 p-0">
                                ID Proses
                            </p>
                        </label>
                        <div class="titikDua col-2">
                            <p class="m-0 p-0">
                                :
                            </p>
                        </div>
                    </div>
                    <div class="inputCol">
                        <select formControlName="idProses" id="inputIdProses" name="inputIdProses" class="form-select">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="boxInputCol d-flex w-100" style="flex-wrap: wrap;">
                    <div class="label row align-items-center">
                        <label for="inputStatus" class="form-label col-10 p-0 m-0">
                            <p class="m-0 p-0">
                                Status
                            </p>
                        </label>
                        <div class="titikDua col-2">
                            <p class="m-0 p-0">
                                :
                            </p>
                        </div>
                    </div>
                    <div class="inputCol">
                        <select formControlName="status" id="inputStatus" name="inputStatus" class="form-select">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-pill btn-secondary float-left"><i class="fa fa-backward"> </i> Back</button>
                    <button [disabled]="btnSaveDisable" type="button" class="btn btn-pill btn-success float-right" style="color: black;" ><i class="fa fa-save"> </i><strong> Save</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>