/* app.component.css */
/* BODY */
.body {
    width: 100vw;
    height: 100vh;
}

/* HEADER */
.body .navbar {
    width: 100%;
    background-color: white;
    height: 55px;
    top: 0px;
}

.body .header {
    justify-content: flex-start;
}

.body .header button {
    border: none;
    background: none;
}

/* SIDEBAR */
.body .boxSideBar {
    height: calc(100vh - 55px);
    background-color: #30353B;
    width: 100%;
    --bs-gutter-x: 0rem;
}

.body .boxSideBar .sidebar {
    height: calc(100vh - 55px);
    transition: 400ms;
    width: 0px;
}

.body .boxSideBar .open {
    width: 200px;
    transition: 400ms;
}

.body .boxSideBar .close {
    width: 0px;
    transition: 400ms;
}

.body .sidebar .sidebar-sticky {
    height: 100%;
    overflow-x: hidden;
}

.body .sidebar .sidebar-sticky .boxListMenu {
    background-color: #30353B;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: 0px;
    width: 200px;
}

.body .sidebar .sidebar-sticky .boxListMenu::-webkit-scrollbar {
    width: 0;
}

.body .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.body mat-expansion-panel-header {
    padding: 0;
}

.body .mat-expansion-indicator {
    color: white;
    border: white;
    margin-right: 20px;
}

.body .mat-expansion-panel-body {
    padding: 0;
}

.body mat-expansion-panel {
    background: none;
}

.body .activeMenu {
    background-color: #26292E;
}

.body .activeChildMenu {
    background-color: #30353B;
}

.body .boxMenu {
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px 20px;
}

.body ul {
    display: block;
}

.body .childMenu .boxMenu {
    padding:  10px 20px 10px 30px;
}

.body .boxMenu h5 {
    margin: 0 0 0 5px;
    padding: 0;
    width: max-content;
}

.body .sidebar a {
    padding: 0;
    cursor: pointer;
}

.body #blockWindow {
    display: none;
    background-color: rgba(48, 53, 59, 0.2);
    z-index: 4;
    position: fixed;
    top: 55px;
    left: 0px;
    width: calc(100vw);
    height: calc(100vh - 55px);
}

/* CONTENT */
.body .boxContent {
    z-index: 3;
    height: calc(100vh - 55px);
    width: calc(100vw - 200px);
    background-color: #E3E5E7;
}


/* CONTENT DARI COMPONENT LAIN */
.boxContentChild {
    height: calc(100vh - 105px);
    overflow-y: scroll;
    padding: 20px;
}


#pageTitle {
    background-color: white;
    border: solid #EFF3F6;;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

#pageTitle a{
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

#pageTitle a:hover {
    color: #63BEE2;
}

.form-control {
    font-size: calc(14px* .83) /* Ubah ukuran font menjadi h5 */
}

.form-select {
    font-size: calc(14px* .83) /* Ubah ukuran font menjadi h5 */
}

.boxInput, .formHeader {
    border: solid 1px;
    border-color: rgb(227, 227, 227);
}

.form .formHeader {
    padding: 10px;
    display: flex;
    background-color: #EFF3F6;
    border-radius: 4px 4px 0 0;
}

.form .boxInput {
    background-color: white;
    border-radius: 0 0 4px 4px;
    padding: 20px;
}

/* Untuk browser WebKit (Chrome, Safari) */
.boxContentChild::-webkit-scrollbar {
    width: 0;
}

/* Untuk browser lainnya */
.boxContentChild {
    scrollbar-width: none;
}


@media screen and (max-width: 600px) {
    .body #blockWindow {
        display: flex;
    }

    .body .boxSideBar .sidebar {
        width: 0px;
        z-index: 5;
        position: fixed;
        top: 55px;
        left: 0px;
    }


    .body .boxContent {
        z-index: 3;
        height: calc(100vh - 55px);
        width: calc(100vw);
        background-color: #E3E5E7;
    }

    .body .display {
        display: flex;
        transition: 400ms;
    }

    .body .notDisplay {
        display: none;
        transition: 400ms;
    }

    .body .boxSideBar .open {
        width: 200px;
        transition: 400ms;
    }
    
    .body .boxSideBar .close {
        width: 0px;
        transition: 400ms;
    }
  }