/* app.component.css */
/* BODY */
.body {
    width: 100vw;
    height: 100vh;
}

/* HEADER */
.body .navbar {
    width: 100vw;
    background-color: white;
    height: 55px;
    position: absolute;
    top: 0px;
}

.body .header {
    justify-content: flex-start;
}

.body .header button {
    border: none;
    background: none;
}

/* SIDEBAR */
.body .boxSideBar {
    position: fixed;
    top: 55px;
    left: 0px;
    height: 100%;
    background-color: #29292B;
    width: 100vw;
    --bs-gutter-x: 0rem;
}

.body .sidebar.open {
    transition: 800ms;
    width: 150px;
}

.body .sidebar:not(.open) {
    transition: 800ms;
    width: 0;
    overflow-x: hidden;
}

.body .boxMenu {
    color: white;
    display: flex;
    height: 50px;
    overflow-x: hidden;
    align-items: center;
    padding: 10px 20px;
}

.body .boxMenu h6 {
    margin: 0 0 0 5px;
    padding: 0;
    width: max-content;
}

.body .sidebar a {
    padding: 0;
    cursor: pointer;
}

/* CONTENT */
.boxContent {
    height: 90%;
    background-color: #E3E5E7;
}


/* CONTENT DARI COMPONENT LAIN */
.boxContentChild {
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}

/* Untuk browser WebKit (Chrome, Safari) */
.boxContentChild::-webkit-scrollbar {
    width: 0;
}

/* Untuk browser lainnya */
.boxContentChild {
    scrollbar-width: none;
}